<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="my-first-view">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style>
    :host {
      display: block;

      padding: 16px;
    }
    </style>

    <h1>First view</h1>
  </template>
  <script>
  // Your new element extends the Polymer.Element base class
  class MyFirstView extends Polymer.Element {
    static get is() { return 'my-first-view'; }
  }
  //Now, register your new custom element so the browser can use it
  customElements.define(MyFirstView.is, MyFirstView);
  </script>
</dom-module>
